a{
  width: 100px;
  display: block;
  margin: 0px;
  padding: 0px;
}

img{
  margin: 0px;
  height: 50px;
  width: 50px !important ;
}
.img{
  height: 50px;
  width: 50px;
}
.sz{
  display: block;
  color: red;
}
span{
  color: green;
}
.test{

}
label{
  color: blue;
}
#first{
  color: pink;
}
label{
  color: blue;
}
#pass{
  display: block;
  color: black;
}
