body{
  background-color: grey;
}
h1{
  text-transform: uppercase;
}
.container{
  padding-top: 5px;
  padding-left: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}
