#container
{
margin:40px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
#header
{
text-align:center;
background-color:blue;
}
#nav
{

float:left;
background-color:green;
width:200px;
height:600px;

}
#content
{
float:left;
width:600px;
height:600px;
background-color:pink;
}
#top
{
height:300px;
background-color:yellow;
}
#bleft
{
float:left;
width:200px;
height:300px;
background-color:orange;
}
#bmidle
{
float:left;
width:200px;
height:300px;
background-color:green;
}
#bright
{
float:left;
width:200px;
height:300px;
background-color:grey;
}
#ad
{
float:left;
background-color:red;
width:200px;
height:600px;
}
#footer
{
clear:both;
height:25px;
background-color:grey;
}



#container2
{
margin:40px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
#header2
{
text-align:center;
background-color:blue;
}
#nav2
{
float:left;
background-color:green;
width:200px;
height:600px;
}
#content2
{
float:left;
width:600px;
height:600px;
background-color:pink;
}
#tleft
{
float:left;
width:200px;
height:300px;
background-color:orange;
}
#tmidle
{
float:left;
width:200px;
height:300px;
background-color:green;
}
#tright
{
float:left;
width:200px;
height:300px;
background-color:grey;
}
#bottom
{
clear:both;
height:300px;
background-color:yellow;
}
#ad2
{
float:left;
background-color:red;
width:200px;
height:600px;
}
#footer2
{
clear:both;
height:25px;
background-color:grey;
}

#container3
{
margin:40px;
height:650px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
#header3
{
height:30px;
background-color:green;
}
#nav3
{
float:left;
width:300px;
height:600px;
background-color:red;
margin-bottom:20px;
}
#content3
{
float:left;
height:570px;
width:700px;
}
#top3
{
height:300px;
background-color:yellow;
}
#bottom3
{
height:300px;
background-color:grey;
}



#container4
{
margin:40px;
width:1000px;
height:600px;
margin-left:auto;
margin-right:auto;
}
#header4
{
height:40px;
background-color:grey;
}
#section1
{
float:left;
height:560px;
width:250px;
background-color:red;
}
#section2
{
float:left;
width:250px;
height:560px;
background-color:orange;
}
#section3
{
float:left;
width:250px;
height:560px;
background-color:red;
}
#section4
{
float:left;
width:250px;
height:560px;
background-color:orange;
}


#container5
{
margin:40px;
height:650px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
#set
{
float:left;
margin-left:100px;
margin-top:50px;
height:550px;
width:150px;
}
#top5
{
background-color:#b0c765;
height:150px;
width:150px;
}
#mid5
{
background-color:#b0c765;
margin-top:50px;
height:150px;
width:150px;
}
#bot5
{
background-color:#b0c765;
margin-top:50px;
height:150px;
width:150px;
}
#jumbo
{
margin:100px;
float:right;
background-color:#b0c765;
height:450px;
width:450px;
}
#container6
{
margin:40px;
width:1000px;
height:620px;
margin-left:auto;
margin-right:auto;
background-color:#f7f7f5;
}
#header6
{
height:60px;
background-color:#adada6;
}
#nav6
{
float:left;
height:560px;
width:300px;
background-color:#c7c79f;
}
#content6
{
float:left;
height:280px;
width:700px;
background-color:#6e6e50;
}
#inner
{
float:right;
height:280px;
width:280px;
}
#tl
{
background-color:#70702f;
float:right;
height:140px;
width:140px;
}
#tr{
float:right;
background-color:#eded2d;
height:140px;
width:140px;
}
#bl
{
background-color:#5e5e5c;
float:left;
height:140px;
width:140px;
}

#br
{
background-color:#d9d9ce;
float:right;
height:140px;
width:140px;
}

#bottom6
{
float:left;
height:280px;
width:700px;
background-color:#e0e038;
}



#container7
{
margin:40px;
width:1000px;
height:600px;
margin-left:auto;
margin-right:auto;
background-color:#f5d7f3;
}
#head7
{
height:50px;
background-color:#f29ded;
}
.inerrow{
float:left;
margin-left:130px;

}
.innersqr{
margin:50px;
height:200px;
width:200px;
background-color:#eb13dd;
}